body {
    padding: 300px 0px;
    padding-bottom: 115px;
    gap: 80px;
    color: white;
    position: relative;
    height: initial;
    width: initial;
    justify-content: initial;
    align-items: initial;
    flex-direction: column;
}

p {
    pointer-events: none;
}

h1 {
    pointer-events: none;
    text-align: center;
    font-size: 20px;
}

/* Head of web */
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    padding: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
    gap: 5px;
    background-color: #0e3743;;
}
.logo-container {
    display: flex;
    /*border-radius: 100vw;*/

    /*font-family: 'Macondo', cursive;*/
    font-family: 'Nova Slim', cursive;
    
    font-size: 40px;
    letter-spacing: 3px;
}

.logo-container img {
    width: 24px;
    object-fit: contain;
    justify-content: end;
    margin-top: 8px;
    margin-right: 3px;
}


  
/* Page */
.page {
    display: flex;
    gap: 20px;
    padding: 30px 20px;
    background-color: white;
}

/* Text section */
.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*font-family: 'Viga', sans-serif;*/
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 3px;
    color: #0e3743;
}

.quote {
    font-size: 13px;
    word-spacing: 1px;
}

/* Video box */
.finisher {
    gap: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0e3743;

    padding: 0px 20px;
}

.proceed {
    font-size: 14px;
    text-align: center;
}

video {
    height: 450px;
    border-radius: 10px;
}

/* Book a call -button- */
.CTA { 
    padding: 0.8em;
    border-radius: 10px;
    background-color: #0e3743;

    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: all 0.15s;
}

.CTA:hover {
    opacity: 0.7;
}




.Down-page {
    display: flex;
    justify-content: center;
    background-color: #0e3743;
    padding: 70px 0px;
}

.offer {
    width: 600px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.offer div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid white;
    border-radius: 10px;
}

.offer div p {
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding: 15px;
    border-radius: 10px;
}




/* container of footer */
    .footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        flex-direction: column;
        gap: 15px;
    }

    /* Hosted by GitHub */
    .Host {
        font-size: 14px;
        color: #0e3743;
    }

    /* connect */
    .connect {
        font-size: 14px;
        color: #0e3743;
    }

    /* Container for Social media profiles */
    .Socials-column {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    /* Socail Media profile */
    .facebook-Socials,
    .instagram-Socials,
    .twitter-Socials {
        cursor: pointer;
        width: 25px;
        border-radius: 5px;
        transition: all 0.15s;
    }
    .facebook-Socials:hover,
    .instagram-Socials:hover,
    .twitter-Socials:hover {
        transform: scale(1.1);
    }




/* for video and heading */


/* for the video and landing text */
@media screen and (max-width:1380px) {
    .page {
        flex-direction: column;
        align-items: center;
    }

    .video {
        height: 550px;
    }

    .text {
        border: 2px solid white;
        padding: 20px;
        border-radius: 10px;      
        gap: 20px;  
        font-size: 18px;
        line-height: 25px;
        word-spacing: initial;
    }

    .quote {
        font-size: 12px;
    }
    .CTA {
        font-size: 13px;
        font-weight: bold;
    }
}

@media screen and (max-width:765px) {

    .heading {
        font-size: 20px;
    }
    .offer {
        width: 550px;
    }

    .video {
        height: 420px;
    }
}

/* for video */
@media screen and (max-width:665px) {
    .offer {
        width: 400px;
    }

}

/* for video */
@media screen and (max-width:580px) {
    .offer {
        width: 350px;
    }
    .video {
        height: 320px;
    }
    .text {
        font-size: 14px;
        line-height: 25px;
        word-spacing: initial;
    }
    .quote {
        font-size: 10px;
        line-height: initial;
    }
    .proceed {
        font-size: 11px;
        word-spacing: 1px;
    }
    .CTA {
        font-size: 12px;
        font-weight: bold;
    }    
}